.detailPage{
    padding: 20px 30px;
    min-height: 80vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1,p,h2{
    color:white; 
}

.imageDetail{
    width:30vw;
    height:auto;
}

.imageDetail>img{
    width:80%;
    height: auto;
    max-height: auto;
}

.movieDetail{
    width:60vw;
    display: flex;
    flex-direction: column;
    text-align:left;
    margin-top: 20px;
}

@media screen and (max-width:950px){

    .detailPage{
        flex-direction: column;
    }

    .imageDetail,.movieDetail{
        width:90vw;
    }

    .imageDetail>img{
        width:auto;
        height: auto;
        max-height: 30vh;
    }


}